<h2>User database application!</h2>  

<table class = "User">  
   <tr>  
      <th>FirstName</th>  
      <th>LastName</th>  
      <th>BloodGroup</th>
      <th>Gender</th>
      <th>PhoneNumber</th>
   </tr>  
   {% for x in datas %} 
   <tr>  
      <td>{{ x.FirstName }}</td>   
      <td>{{ x.LastName }}</td>   
      <td>{{ x.BloodGroup }}</td>
      <td>{{ x.Gender }}</td>
      <td>{{ x.PhoneNumber }}</td>
     
   </tr>  
   {% endfor %} 
</table> 